<div id="<%= dom_id wine_strain %>">
  <p>
    <strong>Wine:</strong>
    <%= wine_strain.wine_id %>
  </p>

  <p>
    <strong>Strain:</strong>
    <%= wine_strain.strain_id %>
  </p>

  <p>
    <strong>Percentage:</strong>
    <%= wine_strain.percentage %>
  </p>

</div>
